header {
  h1 {
      background-image: linear-gradient(to left, #ffe707 102%, #f71ca5 3%);
      font-family: HelveticaNeue;
      font-size: 16px;
      font-weight: 500;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
  }
}